//////////////////////////
// Simpl Colour Palette //
//////////////////////////

// Primary Palette      // X11 color names
$color-blue: #00d1c1;   // Robin egg blue
$color-purple: #756bf2; // Medium slate blue
$color-red: #f05a5a;
$color-red: #f9756e;
$color-yellow: #f0b85a;
$color-grey: #657688;

// Secondary Palette
$color-blue-light: mix(#fff, $color-blue, 16%);
$color-blue-dark: mix(#000, $color-blue, 16%);
$color-blue-border: #00c0b2;
$color-blue-medium: #00cabb;
$color-blue-alt: #4a90e2;
$color-blue-alt-light: mix(#fff, $color-blue-alt, 16%);
$color-blue-alt-border: mix(#000, $color-blue-alt, 8%);
$color-blue-alt-dark: mix(#000, $color-blue-alt, 16%);
$color-grey-dark: #535b65;
$color-grey-dark: mix($color-blue, #555, 8%);
$color-grey-medium: #f0f1f3;
$color-grey-light: #bbbfcf;
$color-grey-extra-light: #ebecf0;
$color-grey-gull: #94a3b3;
$color-grey-inner: #f9f9f9;

// Tertiary Palette
$color-google-plus: #dd4b39;
$color-facebook: #3b5998;
$color-linkedin: #0077b5;
$color-twitter: #55acee;

// Text
$color-text: $color-grey;
$color-text: mix($color-blue, #666, 8%);
$color-text-light: $color-grey-light;
$color-text-medium: mix($color-text, #fff, 64%);
$color-text-dark: $color-grey-dark;
$color-text-title: $color-grey-dark;

// Background
$color-bg: #fbfbfb;
$color-bg-merchants: #f5f5f5;
$color-bg-footer: #f7f7f7;

// Border
$color-border: #eaeaea;
$color-border-light: #f7f7f7;
$color-border-hover: mix(#000, $color-border, 8%);
$color-border-blue-tint: #bbbeca;

// Link
$color-link: mix(#00e, $color-blue, 8%);


//////////////
// Z levels //
//////////////

$z-bottom: -50;
$z-default: 1;
$z-small: 10;
$z-middle: 50;
$z-top: 100;
$z-over-9000: 9001; // IT'S OVER 9000!!!


/////////////
// Spacing //
/////////////

$spacing: 16px;
$spacing-half: $spacing * .5;
$spacing-three-quarters: $spacing * .75;
$spacing-quarter: $spacing * .25;
$spacing-double: $spacing * 2;


///////////////////
// Miscellaneous //
///////////////////

$border-radius: 3px;
$transition-time: .16s;
$transition-time-long: $transition-time * 2;
$site-width: 1024px;


/////////////
// Popover //
/////////////

//** Popover body background color
$popover-bg:                          #fff !default;
$popover-max-width:                   276px !default;
$popover-border-color:                $color-border !default;
$popover-title-bg:                    $color-bg !default;
$popover-arrow-width:                 10px !default;
$popover-arrow-color:                 $popover-bg !default;
$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;
$popover-arrow-outer-color:           mix(#000, $color-border, 10%) !default;
