@import "helpers/media-queries";

.card {
  width: 142px;
  height: 142px;
  background: #e9d3ea;
  border-radius: 2px;
  box-shadow: 0 16px 32px -14px rgba(0, 0, 0, .6);
  transform: translateY(0);
  transition: transform .2s, background .2s;

  @include media-md {
    width: 164px;
    height: 164px;
  }

  &:hover {
    transform: translateY(-2px);
    background: #fff;

    &:after {
      opacity: 1;
    }
  }

  &Double {
    composes: card;
    width: 288px;

    @include media-md {
      width: 332px;
    }
  }
}
