@import "helpers/mediaQueries";
@import "helpers/variables";

.wrapper {
  max-width: 564px;
}

.transaction {
  position: relative;
  width: 288px;
  height: 511px;
  cursor: pointer;
  box-shadow: 0 16px 32px -14px rgba(0, 0, 0, .4);
  background: #fff;
  transform: translateY(0);
  transition: transform .2s;
  margin-bottom: $spacing;
  border: 6px solid rgba(95, 29, 62, .7);
  box-sizing: content-box;
  border-radius: 2px;

  @include media-xs {
    border-width: 2px;
    margin-left: -14px;
  }

  @include media-md {
    width: 320px;
    height: 568px;
    margin-bottom: $spacing * 1.5;
  }

  @include media-lg {
    margin-bottom: $spacing * 2;
  }

  &:hover {
    transform: translateY(-2px);

    .transactionBg {
      opacity: 1;
    }
  }

  &Active {
    cursor: initial;
  }

  &SeeDemo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -48px;
    margin-top: -48px;
    padding: 24px;
    border-radius: 50%;
    color: rgb(89, 31, 70);
    text-align: center;
  }

  &PlayCircleIcon {
    display: block;
  }

  &Bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: opacity .5s;

    background-image: url('./assets/transaction@1x.png');
    background-size: 288px 511px;

    opacity: .8;

    @include media-md {
      background-size: 320px 568px;
    }

    @include media-pixel-ratio-double {
      background-image: url('./assets/transaction@2x.png');
    }
  }
}
