@import "helpers/media-queries";
@import "helpers/variables";

.wrapper {
  max-width: 564px;
}

.row {
  composes: row from 'components/Section/Section.css';
}

.react {
  background-position: 0 0;
}

.postcss {
  background-position: -108px 0;
}

.webpack {
  background-position: -216px 0;
}

.es2017 {
  background-position: -324px 0;
}

.browserify {
  background-position: 0 -108px;
}

.babel {
  background-position: -108px -108px;
}

.nodejs {
  background-position: -216px -108px;
}

.jspm {
  background-position: -324px -108px;
}

.modernizr {
  background-position: 0 -216px;
}

.jasmine {
  background-position: -108px -216px;
}

.sass {
  background-position: -216px -216px;
}

.less {
  background-position: -324px -216px;
}

.hapijs {
  background-position: 0 -324px;
}

.svgo {
  background-position: -108px -324px;
}

.gsap {
  background-position: -216px -324px;
}

.gulp {
  background-position: -324px -324px;
}

.typescript {
  background-position: 0 -436px;
}

.rails {
  background-position: -108px -436px;
}

.laravel {
  background-position: -216px -436px;
}
