:root {
  --borderRadius: 3px;
  --spacing: 16px;
}

.dropdownMenu {
  visibility: hidden;
  position: absolute;
  top: 46px;
  left: 50%;

  width: 288px;
  margin-bottom: 16px;
  margin-left: -144px;
  background: #fff;
  border-radius: var(--borderRadius);
  padding: calc(var(--spacing) / 2) 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .12), 0 4px 16px rgba(0, 0, 0, .1);
  transform: matrix(.9, 0, 0, .9, 0, -16);

  line-height: 1.5;

  opacity: 0;
  transition: opacity .2s, transform .2s;

  &:global(.is-open) {
    visibility: visible;
    transform: matrix(1, 0, 0, 1, 0, 8);

    opacity: 1;
    transition: opacity .4s, transform .4s;
  }

  &:global(.is-open) .wrapper {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: opacity .2s ease .2s,
                transform .2s ease .2s;
  }
}

.angleDown {
  position: relative;
  top: -1px;
  left: 2px;
}

.toggle {
  cursor: default;
  position: relative;
  width: 206px;
  padding: 18px 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .1em;
  font-weight: 400;
  font-size: 14px;
  color: #555;
  background: rgba(255, 255, 255, .9);
  border-radius: 2px;
  transition: background .2s;
  box-shadow: 0 4px 16px rgba(0, 0, 0, .06);

  &:hover {
    background: #f9f9f9;
  }
}

.wrapper {
  opacity: 0;
  transform: matrix(1, 0, 0, 1, 0, -8);
  transition: opacity .1s, transform 9s;
}

.item {
  display: block;
  padding: calc(var(--spacing) * .75) calc(var(--spacing) * 1.5);
  text-align: left;
  font-size: 13px;
  color: #555;

  &:hover {
    background: #f9f9f9;

    color: #333;
  }
}

.arrow {
  &,
  &:after {
    display: block;
    position: absolute;

    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  & {
    top: -11px;
    left: 50%;

    margin-left: -11px;
    border-bottom-color: #d8d8d8;
    border-width: 11px;
    border-top-width: 0;
  }

  &:after {
    top: 1px;

    margin-left: -10px;
    border-bottom-color: #fff;
    border-width: 10px;
    border-top-width: 0;

    content: " ";
  }
}
