.background {
  &--1 {
    // background: #4b1d31;
    // background: linear-gradient(to bottom right, #3a2344, #4b1d31);
    // background: linear-gradient(to bottom right, #4a2a6a, #6a2559);
    // background: linear-gradient(to bottom right, #311f38, #261214);
    background: linear-gradient(100deg, rgba(37, 21, 76, 0.3) 12%, rgba(169, 63, 135, 0.2) 37%);
  }

  &--2 {
    // background: linear-gradient(13deg, #010409, rgba(67, 31, 64, 0) 32%);
    background: linear-gradient(8deg, #030306 15%, rgba(95, 15, 113, 0.1) 46%);
  }

  &--3 {
    // background: linear-gradient(200deg, #1b0f0f, rgba(73, 29, 30, 0) 32%);
    // background: linear-gradient(196deg, #070506 20%, rgba(150, 14, 50, 0.1) 56%);
    background: linear-gradient(193deg, #070506 12%, rgba(150,14,50,0.1) 68%);
  }
}
