@import "helpers/media-queries";
@import "helpers/variables";

.section {
  position: relative;
  margin: 0 auto;
  padding: ($spacing * 1.5) 0;

  @include media-md {
    max-width: 768px;
    padding: ($spacing * 2) 0;
  }

  @include media-lg {
    max-width: 1136px;
    padding: ($spacing * 3) 0;
  }

  &Bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 134px;
    width: 100%;
    border-radius: 2px;
    transition: transform 1s cubic-bezier(.25, .85, .25, 1);
    box-shadow: 0 14px 24px -6px rgba(0, 0, 0, .4);
    background: linear-gradient(135deg, #512452, #691933);

    /*@include media*/
  }
}

.row {
  *zoom: 1;

  &:after,
  &:before {
    display: table;

    content: " ";
  }

  &:after {
    clear: both;
  }
}

.wrapper {
  composes: row;
  margin: 0 auto;
  padding: 0 $spacing;
  transition: transform 1s cubic-bezier(.25, .85, .25, 1);

  @include media-md {
    padding: 0;
    max-width: 672px;
  }

  @include media-lg {
    max-width: 1008px;
  }
}

.textShadow {
  text-shadow: 0 8px 8px rgba(0, 0, 0, .6);
}

.title {
  composes: textShadow;
  font-size: 27px;
  font-weight: 300;
  margin-bottom: $spacing;
  letter-spacing: -.04em;

  @include media-md {
    font-size: 36px;
    margin-bottom: $spacing * 1.5;
  }

  @include media-lg {
    margin-bottom: $spacing * 2;
  }
}

/*.contentRow {
  composes: row;
  margin-bottom: $spacing * 1.5;

  @media (min-width: 768px) {
    margin-bottom: $spacing * 3;
  }
}*/

.desc {
  composes: textShadow;
  text-align: justify;
  margin-bottom: $spacing;

  @include media-md {
    margin-bottom: $spacing * 1.5;
  }

  @include media-lg {
    max-width: 520px;
    float: left;
    margin-bottom: $spacing * 3;
  }

  em {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .05em;
    font-weight: 600;

    @media (min-width: 768px) {
      font-size: 15px;
    }
  }

  a {
    color: #e84ba0;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: color .2s, border-color .2s;

    &:hover {
      color: #c3256c;
      border-color: #c3256c;
    }
  }
}

.labels {
  margin-bottom: $spacing * 2;

  @include media-md {
    margin-bottom: $spacing * 3;
  }

  @include media-lg {
    text-align: right;
    max-width: 394px;
    float: right;
  }
}

.label {
  composes: textShadow;
  background: rgba(13, 8, 17, .3);
  display: inline-block;
  margin-right: 4px;
  border-radius: 2px;
  padding: 2px 6px;
  color: #d03b7e;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
