@import "helpers/media-queries";
@import "helpers/variables";

.aboutMe {
  padding: 0;
  margin-bottom: -110px;
  /*background: linear-gradient(#030205, #27172d);*/
  /*background: linear-gradient(#030205, #120b16);*/
  background: linear-gradient(#030205, transparent);

  @include media-sm {
    padding: 0 $spacing;
  }

  @include media-md {
    padding: 48px $spacing 0;
  }

  @include media-lg {
    padding: 64px $spacing 0;
  }
}

.row {
  composes: row from 'components/Section/Section.css';
  margin-bottom: 134px;

  @include media-md {
    margin-bottom: 176px;
  }
}

.colLeft {
  @include media-md {
    float: left;
    width: 50%;
  }
}

.colRight {
  @include media-md {
    float: right;
    width: 50%;
  }
}

.selfie {
  position: absolute;
  top: -79px;
  right: 0;
}

.desc {
  margin-bottom: $spacing;

  @include media-md {
    margin-bottom: $spacing * 2;
  }
}

.copy {
  composes: textShadow from 'components/Section/Section.css';
  font-size: 15px;
  max-width: 464px;

  @media (min-width: 768px) {
    font-size: 17px;
  }

  &Uppercase {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .05em;
    font-weight: 600;

    @media (min-width: 768px) {
      font-size: 15px;
    }
  }

  &Link {
    color: #e84ba0;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: color .2s, border-color .2s;

    &:hover {
      color: #c3256c;
      border-color: #c3256c;
    }
  }
}

.icon {
  display: inline-block;
  background: rgba(51, 0, 37, .3);
  width: 48px;
  height: 40px;
  padding: 10px 0;
  border-radius: 2px;
  margin-right: 8px;
  text-align: center;
  transition: background .2s;
  color: #fff;

  @include media-md {
    width: 56px;
    height: 48px;
    padding: 14px 0;
  }

  &:hover {
    background: rgba(51, 0, 37, .7);
  }
}
