@import "helpers/media-queries";
@import "helpers/variables";

.grid {

}

.area {
  position: relative;
  float: left;
  height: 142px;
  margin-right: $spacing / 4;
  margin-bottom: $spacing * 1.5;

  @include media-md {
    height: 164px;
  }

  &GtMdOnly {
    display: none;

    @include media-md {
      display: block;
    }
  }

  &Single {
    composes: area;
    width: 142px;

    @include media-md {
      width: 164px;
    }
  }

  &Double {
    composes: area;
    width: 288px;

    @include media-md {
      width: 332px;
    }
  }
}
